<main class="container">
  <h1>
    <%= @word.capitalize %>
  </h1>
  <p>The anagrams of "<%= @word.capitalize %>" are ...</p>
  <ul>
    <% @anagram_array.each do |word| %>
        <li> <%= word.capitalize %> </li>
    <% end %>
  </ul>

  <p>Brought to you by Susan Yi & Gregor Destree</p>
</main>
