<div class="form">
<h3>Which word's anagrams would you like to see?</h3>
<form action="/words" method="post">
  <input type="text" name="find_anagram">
  <input type="submit" value="Get Anagrams">
</form>
</div>
